<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<div class="header">
<nav>
    <img src="assets/lowh.png" class="logo">

    <div>
        <button routerLink="/cuenta" routerLinkActive="active">Registrarse</button>
        <button routerLink="/login" routerLinkActive="active">Iniciar sesion</button>
    </div>
</nav>
<div class="header-content">
    <h1>Mira series,peliculas y mas de manera ilimitada.</h1>
    <h3>Desde cualquier lugar, sin suscripcion mensual.</h3>
    <p>Solo necesistas registrarte, estas listo para comenzar?</p>
</div>
</div>

<div class="fotos">
    <div class="row">
<div class="fotos-content">
    <h2>Disfuta desde tu ordenador</h2>
    <p>Ve desde cualquier navegador, telefono con disenio 
        resposibe.</p>
</div>

<div class="fotos-image">
    <img src="assets/simpsTv.png" >
</div>
</div>
</div>

<div class="telefono">
<div class="row-telefono">

    <div class="telefono-image">
        <img src="assets/telefonoSimps.png">
        </div>
        
    <div class="telefono-text">
<h2>Disfruta de tus series favoritas desde tu telefono</h2>
<p>Las mejores series, sin anuncios molestos.</p>
</div>



</div>
</div>


</body>
</html>