/*.navbar-brand{
color: white;
}

  .navbar {
        background-color: blue !important;
    }

    .nav-link {
        color: white !important;
        }

        .btn{
            color: black !important;
        }
        .btn-outline-success{
            
            background-color: white !important;
        }*/